body {
    background-color: #1A2035;
}
b{
    color: #FFFAF0;
}
a,
h1,
h2 {
    color: #0b8b65;
}

h1,
h2 {
    margin: 0;
}

h2 {
    font-size: 1.2em;
}

* {
    box-sizing: content-box;
}

#kc-header-wrapper {
    color: rgb(88, 73, 173);
}

.login-pf-page {
    font-size: 15px;
    color: #72767b;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    border-bottom: auto;
    width: 100%;
    padding: 10px 20px 30px 20px;
    margin-bottom: 0;
}