body {
    background-color: #1A2035;
}
b{
    color: #FFFAF0;
}
a,
h1,
h2 {
    color: #377ba8;
}

h1,
h2 {
    margin: 0;
}

h1 {
    border-bottom: 2px solid #eee;
}

h2 {
    font-size: 1.2em;
}


#kc-header-wrapper {
    color: rgb(88, 73, 173);
}

.login-pf-page {
    font-size: 15px;
    color: #72767b;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    border-bottom: 1px solid #ededed;
    width: 100%;
}