body {
    background-color: #1A2035;
}

a,
h1,
h2 {
    color: #377ba8;
}

h1,
h2 {
    margin: 0;
}

h1 {
    border-bottom: 2px solid #eee;
}

h2 {
    font-size: 1.2em;
}


nav a {
    color: rgb(88, 73, 173);
    font-size: 3em;
    margin-left: 50px;
    text-decoration: none;
}

.questWrap .questInWrap:first-child {
    border-radius: 10px 10px 0 0;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 25px;
}

col-12,
col-lg-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

ol {
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
}
