<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
        <meta charset="utf-8">
        <title>{{title}}</title>
    
        <base href="/">
    
        <meta
            content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
            name="viewport">
        <meta content="telephone=no" name="format-detection">
        <meta content="no" name="msapplication-tap-highlight">
    
        <link href="src/assets/icon/knoldus-logo/icons-trophy.png" rel="icon" type="image/png">
    
        <!-- add to homescreen for ios -->
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
        <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
        <script src="https://apis.google.com/js/platform.js" async="" defer="" gapi_processed="true"></script>
        <link rel="stylesheet" href="styles.8a304c5ba4f7c920.css" media="all" onload="this.media='all'">
        <noscript>
            <link rel="stylesheet" href="styles.8a304c5ba4f7c920.css">
        </noscript>
        
    </head>
<body>
    {% block main %}
    {% endblock %}
</body>
</html>