{% extends 'base.html' %}

{% block main %}

<div class="login-pf-page">
    <div id="kc-header" class="login-pf-page-header">
        <b>
            <div id="kc-header-wrapper">KT Calculator Dashboard</div>
        </b>
    </div>

    <form name="myForm" class="card-pf" id="kc-form-login" action='/index' method="POST"
        onsubmit="return validateForm()" method="post" required>

        <!-- User information Input -->
        <b><label for="Name" class="pf-c-form__label pf-c-form__label-text">Name</label></b>
        <input placeholder="Name of Person" class="pf-c-form-control" name="Name" type="text"
            value="{{request.form['Name']}}" required></input>
        <br></br>

        <b><label for="Email" class="pf-c-form__label pf-c-form__label-text">Email</label></b>
        <input placeholder="Provide your Email Here" class="pf-c-form-control" name="Email" type="email"
            value="{{request.form['Email']}}"required></input>
        <br></br>

        <b><label for="Batch" class="pf-c-form__label pf-c-form__label-text">Batch Information</label></b>
        <input placeholder="Like Nov2021" class="pf-c-form-control" name="Batch" type="text"
            value="{{request.form['Batch']}}"required></input>
        <br></br>

        <b><label for="Topic" class="pf-c-form__label pf-c-form__label-text">KT Topic</label></b>
        <select name="Topic" class="pf-c-form-control" required>
            <option value="" selected="" disabled="">Please choose..</option>
            <option value="Kuberntes">Kubernetes</option>
            <option value="Ansible">Ansible</option>
            <option value="Docker">Docker</option>
            <option value="AWS">AWS</option>
            <option value="GCP">GCP</option>
            <option value="Linux">Linux</option>
            <option value="Jenkins">Jenkins</option>
        </select>
        <br></br>

        <!-- Role Input -->
        <b>
            <label class="pf-c-form__label pf-c-form__label-text">Choose your Role in KT</label>
        </b>
        <select name="Role" class="pf-c-form-control" required>
            <option selected="" value="" disabled="">Please choose..</option>
            <option value="Mentor">Mentor</option>
            <option value="Mentee">Mentee</option>
            <option value="Account Manager">Account Manager</option>
            <option value="Project Manager">Project Manager</option>
            <option value="Client">Client</option>
        </select>
        <br></br>
        <hr>
        <hr>
        <br>
        <label for="Question1" class="pf-c-form__label">
            <b>The 'Knowledge Transfer' (KT) is successfully completed?</b>
        </label>

        <select class="pf-c-form-control" name="Question1" required>
            <option selected="" disabled="" value="">Please choose..</option>
            <option value="1">Strongly Disagree</option>
            <option value="2">Disagree</option>
            <option value="3">Neutral</option>
            <option value="4">Agree</option>
            <option value="5">Strongly Agree</option>
        </select>
        <br>
        <label for="Remark1" class="pf-c-form__label"> Remarks Please !</label>
        <input name="Remark1" " class=" pf-c-form-control"></input>

        <br><br>
        <label for="Question2" class="pf-c-form__label">
            <b>All the necessary documents are shared and stored in a central drive?</b>
        </label>
        <select class="pf-c-form-control" name="Question2" required>
            <option selected="" disabled="" value="">Please choose..</option>
            <option value="1">Strongly Disagree</option>
            <option value="2">Disagree</option>
            <option value="3">Neutral</option>
            <option value="4">Agree</option>
            <option value="5">Strongly Agree</option>
        </select>
        <br>
        <label for="Remark2" class="pf-c-form__label"> Remarks Please !</label>
        <input name="Remark2" class="pf-c-form-control" ></input>
        <br><br>
        <label for="Question3" class="pf-c-form__label">
            <b>All the necessary learning topics are covered as part of the KT exercise?</b>
        </label>
        <select class="pf-c-form-control" name="Question3" required>
            <option selected="" disabled="" value="">Please choose..</option>
            <option value="1">Strongly Disagree</option>
            <option value="2">Disagree</option>
            <option value="3">Neutral</option>
            <option value="4">Agree</option>
            <option value="5">Strongly Agree</option>
        </select>
        <br>
        <label for="Remark3" class="pf-c-form__label"> Remarks Please !</label>
        <input name="Remark3" class="pf-c-form-control" ></input>
        <br><br>
        <label for="Question4" class="pf-c-form__label">
            <b>Appropriate hand-holding through buddy-up/ shadowing is done?</b>
        </label>
        <select class="pf-c-form-control" name="Question4" required>
            <option selected="" disabled="" value="">Please choose..</option>
            <option value="1">Strongly Disagree</option>
            <option value="2">Disagree</option>
            <option value="3">Neutral</option>
            <option value="4">Agree</option>
            <option value="5">Strongly Agree</option>
        </select>
        <br>
        <label for="Remark4" class="pf-c-form__label"> Remarks Please !</label>
        <input name="Remark4" class="pf-c-form-control" ></input>
        <br><br>
        <label name="Question5" class="pf-c-form__label">
            <b>Worked on cases/ project requirements & deliverables together (mentor & mentee)</b>
        </label>

        <select class="pf-c-form-control" name="Question5" required>
            <option selected="" disabled="" value="">Please choose..</option>
            <option value="1">Strongly Disagree</option>
            <option value="2">Disagree</option>
            <option value="3">Neutral</option>
            <option value="4">Agree</option>
            <option value="5">Strongly Agree</option>
        </select>
        <br>
        <label for="Remark5" class="pf-c-form__label"> Remarks Please !</label>
        <input name="Remark5" class="pf-c-form-control" ></input>
        <br><br>
        <label for="Question6" class="pf-c-form__label">
            <b>Attended 100% of the client meetings together (mentor & mentee)</b>
        </label>
        <select class="pf-c-form-control" name="Question6" required>
            <option selected="" disabled="" value="">Please choose..</option>
            <option value="1">Strongly Disagree</option>
            <option value="2">Disagree</option>
            <option value="3">Neutral</option>
            <option value="4">Agree</option>
            <option value="5">Strongly Agree</option>
        </select>
        <br>
        <label for="Remark6" class="pf-c-form__label"> Remarks Please !</label>
        <input name="Remark6" class="pf-c-form-control" ></input>
        <br><br>
        <label for="Question7" class="pf-c-form__label">
            <b>50% of the meetings are led by the mentee</b>
        </label>
        <select class="pf-c-form-control" name="Question7" required>
            <option selected="" disabled="" value="" >Please choose..</option>
            <option value="1">Strongly Disagree</option>
            <option value="2">Disagree</option>
            <option value="3">Neutral</option>
            <option value="4">Agree</option>
            <option value="5">Strongly Agree</option>
        </select>
        <br>
        <label for="Remark7" class="pf-c-form__label"> Remarks Please !</label>
        <input name="Remark7" class="pf-c-form-control" ></input>
        <br><br>
        <label for="Question8" class="pf-c-form__label">
            <b>At least 2 stories are individually completed by the mentee</b>
        </label>

        <select class="pf-c-form-control" name="Question8" required>
            <option selected="" disabled="" value="" required>Please choose..</option>
            <option value="1">Strongly Disagree</option>
            <option value="2">Disagree</option>
            <option value="3">Neutral</option>
            <option value="4">Agree</option>
            <option value="5">Strongly Agree</option>
        </select>
        <br>
        <label for="Remark8" class="pf-c-form__label"> Remarks Please !</label>
        <input name="Remark8" class="pf-c-form-control" ></input>
        <br><br>
        <label for="Question9" class="pf-c-form__label">
            <b>Evaluation of all the stories are done by the mentor and the feedback is shared with the mentee</b>
        </label>
        <select class="pf-c-form-control" name="Question9" required>
            <option selected="" disabled="" value="">Please choose..</option>
            <option value="1">Strongly Disagree</option>
            <option value="2">Disagree</option>
            <option value="3">Neutral</option>
            <option value="4">Agree</option>
            <option value="5">Strongly Agree</option>
        </select>
        <br>
        <label for="Remark9" class="pf-c-form__label"> Remarks Please !</label>
        <input name="Remark9" class="pf-c-form-control" ></input>
        <br><br>
        <label for="Question10" class="pf-c-form__label">

            <b>The client is confident on the mentee?</b>
        </label>
        <select class="pf-c-form-control" name="Question10" required>
            <option selected="" disabled="" value="">Please choose..</option>
            <option value="1">Strongly Disagree</option>
            <option value="2">Disagree</option>
            <option value="3">Neutral</option>
            <option value="4">Agree</option>
            <option value="5">Strongly Agree</option>
        </select>
        <br>
        <label for="Remark10" class="pf-c-form__label"> Remarks Please !</label>
        <input name="Remark10" class="pf-c-form-control" ></input>
        <br><br>
        <hr>
        <div id="kc-form-buttons" class="form-group">
            <input type="hidden" id="id-hidden-input" name="credentialId">
            <input tabindex="4" class="pf-c-button pf-m-primary pf-m-block btn-lg" name="login" id="kc-login"
                type="submit" value="Submit">
        </div>
    </form>
</div>


<script>
    function validateForm() {
        var x = document.forms["myForm"]["Name"].value;
        var y = document.forms["myForm"]["Email"].value;
        var a = document.form['Question1'].value;
        var b = document.form['Question2'].value;
        var c = document.form['Question3'].value;
        var d = document.form['Question4'].value;
        var e = document.form['Question5'].value;
        var f = document.form['Question6'].value;
        var g = document.form['Question7'].value;
        var h = document.form['Question8'].value;
        var i = document.form['Question9'].value;
        var j = document.form['Question10'].value;
        

        if (b == "" || b == null || a == "" || a == null || c == "" || c == null || d == "" || d == null || e == "" || e == null || f == "" || f == null || g == "" || g == null || h == "" || h == null || i == "" || i == null || j == "" || j == null){
            alert("Missing value in Question feedback")
        return false
        }
        if (x == "" || x == null) {
            if (y == "" || y == null) {
                alert("Name and Email must be filled out");
                return false;
            }
            else {
                alert("Name must be filled out");
                return false;
            }

        }
        if (y == "" || y == null) {
            alert("Email must be filled out");
            return false;
        }
       
    }


</script>
{% endblock %}